<h3>ActiveParkings</h3>
@page "/ActiveParkings"
@using DomainModel.Models;
@using ParkingManagementBlazorServer.Services;
@inject ParkingService _parkingService;

@code {
    private List<Parking> Parkings { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Parkings = await _parkingService.GetActiveParkings();
    }
    private async Task DeleteParkingAsync(int parkingId)
    {
        await _parkingService.DeleteParkingAsync(parkingId);
        Parkings = await _parkingService.GetActiveParkings();
    }
}

@if (Parkings == null)
{
    <div>Loading...</div>
}
else
{
    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Neighborhood</th>
                <th>Owner</th>
                <th>From</th>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parking in Parkings)
            {
                <tr>
                    <td>@parking.City</td>
                    <td>@parking.Neighborhood</td>
                    <td>@parking.Owner</td>
                    <td>@parking.ParkingFrom.ToString("dd.MM.yyyy")</td>
                    <td>@parking.ParkingTo.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a href="/EditParking/@parking.Id" class="btn btn-primary">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button type="button" @onclick="() => DeleteParkingAsync(parking.Id)">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
